#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body[data-theme='dark'] {
  background-color: rgb(36, 24, 46);
  color: beige;
  border-color: bisque;
}

body[data-theme='light'] {
  background-color: beige;
  border-color:blueviolet;
}


.parent {
  width: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
};

.parent * {
  margin: 10px;
}


