#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.parent {
  width: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
};

.parent * {
  margin: 10px;
}


